{{ define "title"}} {{ .Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}
{{ define "main"}}
<div class="main-container">
    <a id="header" class="in-page-link"></a>
    <section class="cover imagebg height-40" data-overlay="7">
        <div class="background-image-holder"> <img alt="background" src="/img/covers/smart-home-header-apple-homekit.jpg"> </div>
        <div class="container pos-vertical-center">
            <div class="row">
                <div class="col-sm-8 col-md-7">
                    <h1> Control your house from anywhere! </h1>
                    <p class="lead"> Control lights, appliances or a room in the comfort of your home or from anywhere in the world. </p>         <a class="btn btn--primary type--uppercase" href="/appointment"> <span class="btn__text">
                            Book a Free Consultation</span> </a>
                </div>
            </div>
        </div>
    </section>
    <section class="text-center space--xs">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-md-8">
                    <h2>About OneUp Smart Home.</h2>
                    <p class="lead"> OneUp Smart Home is a home automation company with offices in South Florida and Jacksonville. We offer smart home automation services, training and support in Fort Lauderdale, Miami, West Palm Beach and Jacksonville.  </p>

                    <p class="lead">We install and setup voice assistant systems like the new Amazon Echos (Echo Dot, Echo Plus, Echo Spot and Echo Show) and the Google Home and Home Mini. We also install smart lighting systems like the Philips Hue smart bulbs and motion sensor, smart WiFi-enabled smart plugs, video doorbells, home WiFi systems, Bluetooth speakers, indoor security cameras and more. </p>
                </div>
            </div>
        </div>
    </section>

    <section class="switchable feature-large bg--primary">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                        <div class="video-cover border--round box-shadow-wide">
                            <div class="background-image-holder">
                                <img alt="image" src="/img/thumbs/home-automation-video-thumb.jpg" />
                            </div>
                            <div class="video-play-icon"></div>
                            <iframe data-src="https://www.youtube.com/embed/XzZgnII0b64?autoplay=1" allowfullscreen="allowfullscreen"></iframe>
                        </div>
                        <!--end video cover-->
                    </div>
                    <div class="col-sm-6 col-md-5">
                        <div class="switchable__text">
                                <h2>What is Smart Home or Home Automation Technology?</h2>
                                <p class="lead">
                                        Smart Home Technology, also known as Home Automation, gives you access to control devices in your home from a mobile device anywhere in the world. Smart Home Technology also provides home owners comfort, security, energy efficiency and convenience at all times.
                                </p>                                    
                            </p>
                        </div>
                    </div>
                </div>
                <!--end of row-->
            </div>
            <!--end of container-->
        </section>

    <section class="text-center space--xs">
            <div class="container">
                <div class="row">
                    <div class="col-sm-10 col-md-8">                                                
                        <h2>Examples of smart home technologies.</h2>
                        <p class="lead">Smart Plugs can turn your lights, ceiling fans, and other fixtures off and on no matter where you are. They can even tell you how much power or energy you use on your electronics, giving you valuable insight into which electronics and appliances are costing you the most each month. </p>
                        
                        <p class="lead">With smart security cameras, home owners can monitor their homes when they are away or on vacation. Smart motion sensors can identify the difference between residents, visitors, pets and burglars, and can notify authorities if suspicious behavior is detected. </p>
                        
                        <p class="lead">Smart Lighting systems replace your old incandescent or halogen bulbs with LEDs. LED bulbs not only ensure a saving on electricity consumption but also use less energy, produce less heat and last much longer. </p>
                    </div>                    
                </div>
            </div>
        </section>        

    <a id="consultation" class="in-page-link"></a>
    <section class="switchable bg--secondary space--xxs">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-7">
                    <div class="mt--2">
                        <h1> Free In-Home Consultation. </h1>
                        <p class="lead"> Get started with a free In-Home consultation. Our smart home experts have the expertise to handle a wide range of home control products. </p>
                        <a class="btn btn--primary type--uppercase" href="/appointment"> <span class="btn__text">
                    Book a free consultation</span> </a>
                    </div>
                </div>
                <div class="col-md-7 col-sm-5 col-xs-12"> <img alt="Image" src="/img/smart-home-consultation.jpg"> </div>
            </div>
        </div>
    </section>
    <a id="testimonials" class="in-page-link"></a>
    <section class="text-center space--xxs">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-10">
                <h2>What our customers have to say.</h2>
                <div class="slider" data-paging="true">
                    <ul class="slides">
                        <li>
                            <div class="testimonial">
                                <blockquote> "Ken was extremely helpful and very patient with all the questions I had. Thank you for setting up my Amazon Echo Dot and for installing my Philips Hue light bulbs." </blockquote>
                                <h5>Angela P.</h5> <span>Pembroke Pines, FL</span> </div>
                        </li>
                        <li>
                            <div class="testimonial">
                                <blockquote> "Excellent service. Gustave was very professional and knowledgeable. I highly recommend having him over for a free smart home consultation." </blockquote>
                                <h5>Rob V.</h5> <span>Jacksonville, FL</span> </div>
                        </li>
                        <li>
                            <div class="testimonial">
                                <blockquote> "These guys went above and beyond and their free consultation really exceeded my expectations.  I highly recommend them to anyone interested in integrating smart home automation technology in their home or office" </blockquote>
                                <h5>Jay H.</h5> <span>Lake Worth, FL</span> </div>
                        </li>
                        <li>
                                <div class="testimonial">
                                    <blockquote> "Thank you! I was very happy with my consultation from One UP. They answered all of my questions and were very knowledgeable about all of the products. I couldn't be more pleased!" </blockquote>
                                    <h5>Yvette L.</h5> <span>Miami, FL</span> </div>
                            </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    </section>

{{ end }}

{{ define "footer"}} {{ partial "footer" .}} {{end}}
