{{ define "title"}} {{ .Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}
{{ define "main"}}
<div class="main-container">
    <a id="header" class="in-page-link"></a>
    <section class="cover imagebg height-30" data-overlay="7">
        <div class="background-image-holder"> <img alt="background" src="/img/smart-home-header.jpg"> </div>
        <div class="container pos-vertical-center">
            <div class="row">
                <div class="col-sm-8 col-md-7">
                    <h1> Contact us </h1>
                    <p class="lead"> Questions about our smart home technology services? <br>Call us 954-709-3853. </p>                    
                </div>
            </div>
        </div>
    </section>
    <section class="switchable">
        <div class="container">
            <div class="row">
                <div class="col-sm-5"> <img alt="Image" class="border--round box-shadow-wide" src="/img/smart-home-contact-apple-homekit.jpg"> </div>
                <div class="col-sm-6">
                    <div class="row switchable__text">
                        <p class="lead"> E: <a href="#">info@oneupsmarthome.com</a><br> P: 954-709-3853 (Fort Lauderdale, Miami, West Palm Beach)<br>P: 904-487-8334 (Jacksonville)<br></p>
                        <p class="lead"> Give us a call or send us a message bellow. We will answer all enquiries within 24 hours on business days. </p>
                        <p class="lead"> We are located at 101 Century 21 Dr. Suite 113<br> Jacksonville, FL 32216 </p>
                        <hr class="short">
                        <div class="row">
                            <form name="contact" action="/contact-success" netlify>
                                <div class="col-sm-6"> <label>Your Name:</label> <input type="text" name="Name" class="validate-required" required> </div>
                                <div class="col-sm-6"> <label>Email Address:</label> <input type="email" name="email" class="validate-required validate-email" required> </div>
                                <div class="col-sm-12"> <label>Message:</label> <textarea rows="4" name="Message" class="validate-required" required></textarea> </div>
                                <div class="col-sm-5 col-md-4"> <button type="submit" class="btn btn--primary type--uppercase">Send Enquiry</button> </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{{ end }}

{{ define "footer"}} {{ partial "footer" .}} {{end}}
