{{ define "title"}} {{ .Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}
{{ define "main"}}
<div class="main-container">
    <a id="header" class="in-page-link"></a>
    <section class="cover imagebg height-60" data-overlay="7">
        <div class="background-image-holder"> <img alt="background" src="img/smart-home-header.jpg"> </div>
        <div class="container pos-vertical-center">
            <div class="row">
                <div class="col-sm-8 col-md-7">
                    <h1> Control your house from anywhere! </h1>
                    <p class="lead"> Control lights, appliances or a room in the comfort of your home or from anywhere in the world. </p>
                    <a class="btn btn--primary type--uppercase" href="#consultation"> <span class="btn__text">
                get A FREE CONSULTATION
            </span> </a>
                </div>
            </div>
        </div>
    </section>
    <a id="services-title" class="in-page-link"></a>
    <section class="text-center space--xs">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1>Our Smart Home Services</h1>
                </div>
            </div>
        </div>
    </section>
    <a id="services-row" class="in-page-link"></a>
    <section class="text-center space--xxs">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="feature feature-1"> <img alt="Image" src="img/google-home-amazon-echo-plus.jpg">
                        <div class="feature__body boxed boxed--lg boxed--border">
                            <h3>Voice Control Setup</h3>
                            <p class="lead"> Control your smart home with just your voice. Make calls, read the news, play music, set music alarms and more. </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="feature feature-1"> <img alt="Image" src="img/security-wifi-camera.jpg">
                        <div class="feature__body boxed boxed--lg boxed--border">
                            <h3>Indoor Security Camera</h3>
                            <p class="lead"> Look after home, even when you're out. Receive notifications when the camera sees any activity. </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="feature feature-1"> <img alt="Image" src="img/smart-bulbs-wifi.jpg">
                        <div class="feature__body boxed boxed--lg boxed--border">
                            <h3>Smart Lighting</h3>
                            <p class="lead"> Remotely dim and brighten lights, set timers, and turn power on and off without ever leaving your seat. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <a id="services-row" class="in-page-link"></a>
    <section class="text-center space--xxs bg--secondary">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="feature feature-1"> <img alt="Image" src="img/smart-plugs-wifi.jpg">
                        <div class="feature__body boxed boxed--lg boxed--border">
                            <h3>Smart WiFi Plugs</h3>
                            <p class="lead"> Easily manage your home electronics and appliances from anywhere.&nbsp;Analyze real-time&nbsp; power consumption.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="feature feature-1"> <img alt="Image" src="img/video-wifi-doorbell.jpg">
                        <div class="feature__body boxed boxed--lg boxed--border">
                            <h3>Video Doorbell</h3>
                            <p class="lead"> See, hear and speak to anyone at your door from your smartphone, tablet or PC. Check-in on your property!</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="feature feature-1"> <img alt="Image" src="img/smart-wifi-extender.jpg">
                        <div class="feature__body boxed boxed--lg boxed--border">
                            <h3>Home WiFi System</h3>
                            <p class="lead"> Slow Internet and dead zones? Let us bring&nbsp; a strong and stable WiFi to every inch of your home.&nbsp;</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <a id="services-row" class="in-page-link"></a>
    <section class="text-center space--xxs bg--secondary">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="feature feature-1"> <img alt="Image" src="img/bluetooth-speaker.jpg">
                        <div class="feature__body boxed boxed--lg boxed--border">
                            <h3>Bluetooth Speaker</h3>
                            <p class="lead">Use your voice to play and control songs, playlists, radio stations, podcasts and check news and traffic. </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="feature feature-1"> <img alt="Image" src="img/media-player.jpg">
                        <div class="feature__body boxed boxed--lg boxed--border">
                            <h3>Media Player Setup</h3>
                            <p class="lead">If you're still paying for cable - you can stop. Media Players let you watch your favorite shows (and cut the cord) **&nbsp;</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="feature feature-1"> <img alt="Image" src="img/motion-sensor.jpg">
                        <div class="feature__body boxed boxed--lg boxed--border">
                            <h3>Smart Motion Sensor</h3>
                            <p class="lead">Smart Motion sensors help you navigate your home at night by lighting up the room as you walk in. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <a id="requirement" class="in-page-link"></a>
    <section class="space--xxs text-center">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <p class="lead"> All services require an Internet connection, not provided by One Up Smart Home.<br>** Requires a separate streaming subscription.</p>
                </div>
            </div>
        </div>
    </section>
    <a id="consultation" class="in-page-link"></a>
    <section class="switchable bg--secondary space--xxs">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-7">
                    <div class="mt--2">
                        <h1> Free In-Home Consultation. </h1>
                        <p class="lead"> Get started with a free In-Home consultation. Our smart home experts have the expertise to handle a wide range of home control products. </p>
                        <a class="btn btn--primary type--uppercase" href="#customise-template"> <span class="btn__text">
                    get a free consultation</span> </a>
                    </div>
                </div>
                <div class="col-md-7 col-sm-5 col-xs-12"> <img alt="Image" src="img/smart-home-consultation.jpg"> </div>
            </div>
        </div>
    </section>
    <a id="testimonials" class="in-page-link"></a>
    <section class="text-center space--xxs">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-10">
                    <div class="slider" data-paging="true">
                        <ul class="slides">
                            <li>
                                <div class="testimonial">
                                    <blockquote> “There's a feeling of structure that you can't find in other templates — Stack has become my default template.” </blockquote>
                                    <h5>Jason Briggs</h5> <span>Envato Customer</span> </div>
                            </li>
                            <li>
                                <div class="testimonial">
                                    <blockquote> “Variant has been a massive plus for my workflow — I can now get live mockups out in a matter of hours, my clients really love it.” </blockquote>
                                    <h5>Rob Vasquez</h5> <span>Interface Designer — Yoke</span> </div>
                            </li>
                            <li>
                                <div class="testimonial">
                                    <blockquote> “We’ve been using Stack to prototype designs quickly and efficiently. Needless to say we’re hugely impressed by the style and value.” </blockquote>
                                    <h5>Maguerite Holland</h5> <span>Interface Designer — Yoke</span> </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section> 

{{ end }}

{{ define "footer"}} {{ partial "footer" .}} {{end}}