{{ define "title"}} {{ .Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}
{{ define "main"}}
<div class="main-container">
    <a id="header" class="in-page-link"></a>
    <section class="cover imagebg height-60" data-overlay="7">
        <div class="background-image-holder"> <img alt="background" src="/img/covers/services-smart-home-cover.jpg"> </div>
        <div class="container pos-vertical-center">
            <div class="row">
                <div class="col-sm-8 col-md-7">
                    <h1> Smart Home Automation Services in Florida </h1>
                    <p class="lead"> OneUp Smart Home helps you protect your home and loved ones with smart security products that give you control from the palm of your hand. </p>
                    <a class="btn btn--primary type--uppercase" href="/appointment"> <span class="btn__text">
                            Book a Free Consultation</span> </a>
                </div>
            </div>
        </div>
    </section>
    <a id="services-title" class="in-page-link"></a>
    <section class="text-center space--xs">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2>Our smart home services.</h2>
                    <p class="lead"> We install and setup voice assistant systems like the new Amazon Echos (Echo Dot, Echo Plus, Echo Spot and Echo Show) and Google Home and Home Mini. We also install smart lighting systems like the Philips Hue smart bulbs and motion sensor, smart WiFi-enabled smart plugs, video doorbells, home WiFi systems, Bluetooth speakers and more.</p>
                    <p class="lead">We provide smart home services in Fort Lauderdale, Miami, West Palm Beach and Jacksonville.</p>
                </div>
            </div>
        </div>
    </section>
    <a id="services-row" class="in-page-link"></a>
    <section class="text-center space--xxs">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="feature feature-1"> <img alt="Image" src="/img/devices/google-home-amazon-echo-plus.jpg">
                        <div class="feature__body boxed boxed--lg boxed--border">
                            <h3>Voice Control Setup</h3>
                            <p class="lead"> Control your smart home with just your voice. Make calls, read the news, play music, set music alarms and more. </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="feature feature-1"> <img alt="Image" src="/img/devices/security-wifi-camera.jpg">
                        <div class="feature__body boxed boxed--lg boxed--border">
                            <h3>Indoor Security Camera</h3>
                            <p class="lead"> Look after home, even when you're out. Receive notifications when the camera sees any activity. </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="feature feature-1"> <img alt="Image" src="/img/devices/smart-bulbs-wifi.jpg">
                        <div class="feature__body boxed boxed--lg boxed--border">
                            <h3>Smart Lighting</h3>
                            <p class="lead"> Remotely dim and brighten lights, set timers, and turn power on and off without ever leaving your seat. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <a id="services-row" class="in-page-link"></a>
    <section class="text-center space--xxs bg--secondary">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="feature feature-1"> <img alt="Image" src="/img/devices/smart-plugs-wifi.jpg">
                        <div class="feature__body boxed boxed--lg boxed--border">
                            <h3>Smart WiFi Plugs</h3>
                            <p class="lead"> Easily manage your home electronics and appliances from anywhere.&nbsp;Analyze real-time&nbsp; power consumption.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="feature feature-1"> <img alt="Image" src="/img/devices/video-wifi-doorbell.jpg">
                        <div class="feature__body boxed boxed--lg boxed--border">
                            <h3>Video Doorbell</h3>
                            <p class="lead"> See, hear and speak to anyone at your door from your smartphone, tablet or PC. Check-in on your property!</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="feature feature-1"> <img alt="Image" src="/img/devices/smart-wifi-extender.jpg">
                        <div class="feature__body boxed boxed--lg boxed--border">
                            <h3>Home WiFi System</h3>
                            <p class="lead"> Slow Internet and dead zones? Let us bring&nbsp; a strong and stable WiFi to every inch of your home.&nbsp;</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <a id="services-row" class="in-page-link"></a>
    <section class="text-center space--xxs bg--secondary">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="feature feature-1"> <img alt="Image" src="/img/devices/bluetooth-speaker.jpg">
                        <div class="feature__body boxed boxed--lg boxed--border">
                            <h3>Bluetooth Speaker</h3>
                            <p class="lead">Use your voice to play and control songs, playlists, radio stations, podcasts and check news and traffic. </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="feature feature-1"> <img alt="Image" src="/img/devices/media-player.jpg">
                        <div class="feature__body boxed boxed--lg boxed--border">
                            <h3>Media Player Setup</h3>
                            <p class="lead">If you're still paying for cable - you can stop. Media Players let you watch your favorite shows (and cut the cord) **&nbsp;</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="feature feature-1"> <img alt="Image" src="/img/devices/motion-sensor.jpg">
                        <div class="feature__body boxed boxed--lg boxed--border">
                            <h3>Smart Motion Sensor</h3>
                            <p class="lead">Smart Motion sensors help you navigate your home at night by lighting up the room as you walk in. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="text-center space--xs bg--secondary">
            <div class="container">
                <div class="row">
                    <div class="col-sm-10 col-md-8">
                        <div class="col-sm-12">
                                <h2>Free voice assistant training.</h2>
                            </div>                
                        <p class="lead"> Want hands-free control of your smart home? Our team will also teach you how to use your Amazon Echos (Alexa) and Google Home voice activated devices. You'll be able to use voice commands like:</p>
                        <ul class="commands">
                        <li>"Alexa, dim the living room lights"</li>
                        <li>"Ok Google, turn on the fan"</li>
                        "Alexa, show me the baby's room"</li>
                        <li>"Ok Google, is the iron on?"</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

    <a id="requirement" class="in-page-link"></a>
    <section class="space--xxs text-center">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <p> All services require an Internet connection and an internet-connected Wi-Fi router with an available Ethernet port, not provided by One Up Smart Home. 
                    <br>Devices sold separately and **some require a separate streaming subscription.</br>
                </div>
            </div>
        </div>
    </section>
    <a id="consultation" class="in-page-link"></a>
    <section class="switchable bg--primary space--xxs">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-7">
                    <div class="mt--2">
                        <h1> Free In-Home Consultation. </h1>
                        <p class="lead"> Get started with a free In-Home consultation. Our smart home experts have the expertise to handle a wide range of home control products. </p>
                        <a class="btn btn--primary type--uppercase" href="/appointment"> <span class="btn__text">
                    Book a Free Consultation</span> </a>
                    </div>
                </div>
                <div class="col-md-7 col-sm-5 col-xs-12"> <img alt="Image" src="/img/smart-home-consultation-florida.jpg"> </div>
            </div>
        </div>
    </section>
    <a id="testimonials" class="in-page-link"></a>
    <section class="text-center space--xxs">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-10">
                <h2>What our customers have to say.</h2>
                <div class="slider" data-paging="true">
                    <ul class="slides">
                        <li>
                            <div class="testimonial">
                                <blockquote> "Ken was extremely helpful and very patient with all the questions I had. Thank you for setting up my Amazon Echo Dot and for installing my Philips Hue light bulbs." </blockquote>
                                <h5>Angela P.</h5> <span>Pembroke Pines, FL</span> </div>
                        </li>
                        <li>
                            <div class="testimonial">
                                <blockquote> "Excellent service. Gustave was very professional and knowledgeable. I highly recommend having him over for a free smart home consultation." </blockquote>
                                <h5>Rob V.</h5> <span>Jacksonville, FL</span> </div>
                        </li>
                        <li>
                            <div class="testimonial">
                                <blockquote> "These guys went above and beyond and their free consultation really exceeded my expectations.  I highly recommend them to anyone interested in integrating smart home automation technology in their home or office" </blockquote>
                                <h5>Jay H.</h5> <span>Lake Worth, FL</span> </div>
                        </li>
                        <li>
                                <div class="testimonial">
                                    <blockquote> "Thank you! I was very happy with my consultation from One UP. They answered all of my questions and were very knowledgeable about all of the products. I couldn't be more pleased!" </blockquote>
                                    <h5>Yvette L.</h5> <span>Miami, FL</span> </div>
                            </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    </section> 

{{ end }}

{{ define "footer"}} {{ partial "footer" .}} {{end}}
